<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username" class="form-label" >Username</label>
      <input name="username" class="form-control" id="username" formControlName="username" placeholder="Enter you username" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input name="password" type="text" class="form-control" id="email" formControlName="email" placeholder="exampel@email.com" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="password" formControlName="password" placeholder="*************" required>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>